.cacl{
	width: 200px;
}

.data{
	width: 100%;
	height: 20px;
}
.rst{
	width: 100%;
	height: 40px;
	font-size: 30px;
}
.contentCalc{
	background-color: black;
	width: 200px;
	height: 60px;
	color: white;
	font-weight: bold;
	text-align: right;;
}

.row input{
	width: 23%;
	color: white;
	font-weight: bold;
}
.row .orange{
	background-color: orange;
}

.red{
	background-color: red;
}

.blue{
	background-color: blue;
}
.green{
	background-color: green;
}